.box {

  padding: 0.75em;

  border-radius : 0.5em;

  border : 1px solid #ddd;

  height: auto;

  margin-bottom: 1em;

}


.warning {

  color: orange;

  font-weight: bold;

}


.danger {

  color: crimson;

  font-weight: bold;

}


.total {

  font-weight: bold;

  font-size: 2em;

}


.logTable {

  margin: 4rem;

  padding: 4rem;

  border: 2px solid grey;

  border-radius: 4px;

  width: 960px;

}

h2 {

  margin-left: 4rem;

  margin-top: 4rem;

}

table {

  font-size: 1.5rem;

}
